*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 10000px;
	background-color: #fff;
	font-family: sans-serif;
}
.desc{
	width: 30%;
	height: 100vh;
	display: block;
	background-image: linear-gradient(to right, teal, #fff);
	padding-top: 30px;
	position: fixed;
	text-align: center;
}
.desc .desc-img{
	margin-left: 50px;
	top:30px;
	width: 250px;
	height: 250px;
	border-radius:125px;
	overflow: hidden;
	background-image: url(../img/me.png);
	background-size: cover;
}
.desc .desc-sub{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left:250px;
	margin-top: -50px;
	z-index: 3;
	border:1px solid rgb(0,0,0);
	background-image: linear-gradient(to right, teal, #fff);
	overflow: hidden;
}
.desc .desc-sub .sub-img{
	width: 40px;
	height:40px;
	border-radius: 20px;
	overflow: hidden;
}
.desc .desc-sub:hover .sub-img{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	float: left;
}
.desc .desc-sub img{
	width:40px;
	height:40px;
	background:#fff;
}
.desc .desc-sub p{
	opacity: 0;
	font-size: 12px;
	padding-top: 6px;
	padding-left: 7px;
	float: left;
	font-weight: bold;
}
.desc .desc-sub:hover{
	width: 170px;
	height: 30px;
	transition: 2s;
	overflow: hidden;
}
.desc .desc-sub:hover p{
	opacity: 1;
	transition: 2s;
}
.desc .desc-sub:hover img{
	width: 30px;
	height:30px;
	background:#fff;
}
.desc .my-desc .Name{
	height: 50px;
	width: 100%;
	text-align: center;
	margin-top:50px;
	margin-left: -5%;
	font-size: 26px;
}
.desc .my-desc .bio{
	margin-left: -10%;
	height: 40px;
}
.desc .my-desc .organisation{
	margin-left: -10%;
	font-weight: bold;
}
.desc .my-desc .socials{
	display: block;
	width: 100%;
}
.desc .my-desc .socials .twitter,.instagram,.github,.linked-in{
	width:90%;
	align-items: left;
	margin-left: -30%;
}
.desc .my-desc .socials img{
	width: 30px;
	height: 30px;
}