*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background-color: #fff;
}
.desc{
	width: 30%;
	height: 100vh;
	display: block;
	background-image: linear-gradient(to right, teal, #fff);
	padding-top: 30px;
}
.desc .desc-img{
	margin-left: 100px;
	top:30px;
	width: 150px;
	height: 150px;
	border-radius:75px;
	overflow: hidden;
}
.desc .desc-img img{
	width: 100%;
	height: 100%;

}