/**General body styling**/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
	font-family: sans-serif;
	background-color: rgb(153,153,255,0.5);
}
body::-webkit-scrollbar{
	width: 0;
	height:0;
}
/**general container**/
.container{
	animation: fade 8s;

}
/**Startup window**/
/**Slides Back on startup**/
.stat{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	text-align: center;
	justify-content: center;
	top:0;
	font-size: 50px;
	z-index: 3;
	text-transform: uppercase;
	background-image:url("../img/bgl.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	overflow-y: scroll;
	transition: 2s;
	overflow:hidden;
}
.stat::-webkit-scrollbar{
	width: 0;
	height: 0;
}
@media screen and (min-width:1030px){
	.stat .img-con{
		margin-bottom: 50px;

	}
}
/**My journey Button **/
.stat .tab{
	position:absolute;
	top:80vh;
	width:100%;
	padding-left: 10%;
	padding: right 20%;
}
.stat .tab button{
	margin-left: 50px;
	margin-bottom: 30px;
}
.stat .tab .prep{
    margin-left: 50px;
	margin-top: 50px;
	width:30%;
}
.stat .tab .prep p{
	font-size: 12px;
	text-transform: lowercase;
}
.stat .tab .prep .sp img{
	width:20px;
	height:20px;
	animation:sp 1s infinite;
	box-shadow: 1px 3px 2px red;
	border-radius: 10px;
	margin-top:20px;
	margin-bottom:20px;
}
/**Preping spin animtion**/
@keyframes sp{
	from{
		transform: rotate(0deg);
	}
	to{
		transform:rotate(-360deg);
	}
}
/**SEcondary startup window (Deleted)**/
.stato{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	text-align: center;
	margin-left: 100%;
	justify-content: center;
	display:none;
	top:0;
	font-size: 50px;
	z-index: 3;
	padding-top: 5%;
	text-transform: capitalize;
	background-image:url(../img/bgl.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	overflow-y: scroll;
	transition: 1s;
}
.stato .theme{
	width: auto;
	margin: auto 30%;
}
.stato .theme .darker button{
	background-color:rgb(0,0,0,0.9);
	border:1px solid rgb(0, 0,0)
}
.stato button{
	width:200px;
	height: 80px;
	font-size: 17px;
	color: #fff;
	background-color: transparent;
	margin-top: 60px;
	margin-left:10%;
	border-radius: 20px;
	border:1px solid white;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	cursor:pointer;
}
@media screen and (max-width:1000px){
	.stat button{
		width:auto;
	}
}
/**End of secondary window**/
.moveo{
	margin-left: 0;
}
.moveoo{
	margin-left: -100%;
	opacity: 0;
}
#closeo{
	position:fixed;
}
@media screen and (max-width:800px){
	.stat .tab{
		top:60vh;
	}
}
.stat .tab button{
	border:none;
	color: #fff;
	font-weight: bold;
	background: transparent;
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
	float:left;
	margin-right:40px;
	height: 80px;
	width: 50%;
	box-shadow:lightblue 1px 0 10px ;
}
.stat .tab button:hover{
	background-color: rgba(139, 117, 117, 0.5);
}
/**Startup animation js class**/
.move{
	margin-right:-1000px;
	z-index: -3;
	opacity: 0.8;
}
.move .ml15{
	color:rgb(100,100,100);
}
.move h1{
	color:red;
	transition:1s;
}
.move .tab button{
	transform: rotate(360deg);
	display: none;

}
.move .tab .prep{
	display: none;
}
/**Profile image on startup window**/
.stat .img-con{
	width: 250px;
	height: 250px;
	border-radius:125px;
	overflow: hidden;
	margin-left: 40%;
}
.stat h1{
	color:#fff;
}
.stat h2{
	padding-top: 50px;
	color:#fff;
}
.stat img{
	width: 100%;
	height: 100%;
}
/**Startup Name Animation js class**/
.ml15 {
	font-weight: 800;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.5em;
  }
  
  .ml15 .word {
	display: inline-block;
	line-height: 1em;
  }
  .ml15 .word .caps{
	  font-size: 2.5em;
  }
@media screen and (max-width: 800px){
	.stat{
		font-size: 27px;
	}
	.stat .img-con{
		margin-left: 30%;
	}
}
@media screen and (max-width:600px){
	.stat .tab{
		top:85vh;
		right: 15%;
	}
}
@media screen and (max-width:800px){
	.stat , .stato h1,h2{
		font-size: 15px;
	}
	.stat , .stato h1{
		font-size: 15px;
	}
	.stat .tab{
		top:60vh;
	}
}
@media screen and (max-width: 600px){
	.stat .img-con{
		margin-left: 20%;
	}
}
@keyframes fadeOut{
	from{
		opacity: 1;
		z-index: 10;
	}
	to{
		opacity: 0;
		display: none;
		z-index: -3;
	}
}
/**Sidebar with profile and social Links**/
.desc{
	width: 25%;
	height: 100vh;
	display: block;
	background-color:rgb(0,0,0,0.03);
	padding-top: 30px;
	margin-top:-18px;
	position: fixed;
	text-align: center;
	color: navy;
	scroll-behavior: smooth;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
/**Desc Section scroll bar**/
.desc::-webkit-scrollbar{
	width: 0;
	height: 0;
}
@keyframes fade{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
.desc .close {
	color: rgb(0,0,0);
}
.desc .desc-img{
	margin-left: 50px;
	top:30px;
	width: 250px;
	height: 250px;
	border-radius:125px;
	overflow: hidden;
	background-image: url(../img/me.png);
	background-size: cover;
}
.desc .desc-sub{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left:250px;
	margin-top: -50px;
	z-index: 10;
	background-image: linear-gradient(to right, teal,#fff);
	overflow: hidden;
}
.desc .desc-sub .sub-img{
	width: 40px;
	height:40px;
	border-radius: 20px;
	overflow: hidden;
}
.desc .desc-sub:hover .sub-img{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	float: left;
}
.desc .desc-sub img{
	width:40px;
	height:40px;
	background:#fff;
}
.desc .desc-sub p{
	opacity: 0;
	font-size: 12px;
	padding-top: 6px;
	padding-left: 7px;
	float: left;
	font-weight: bold;
	color: #000;
	z-index: 10;
}
.desc .desc-sub:hover{
	width: 170px;
	height: 30px;
	transition: 2s;
	overflow: hidden;
	z-index: 13;
}
.desc .desc-sub:hover p{
	opacity: 1;
	transition: 2s;
}
.desc .desc-sub:hover img{
	width: 30px;
	height:30px;
	background:#fff;
	z-index: 11;
}
@media screen and (max-width: 1000px){
	.desc .desc-img{
		margin-left: 25px;
		width: 150px;
		height: 150px;
		border-radius: 75px;
	}
	.desc .desc-sub{
		width: 35px;
		height: 35px;
		border-radius: 17.5px;
		margin-left: 150px;
	}
}
.desc .my-desc{
	text-align: center;
}
.desc .my-desc .Name{
	height: 50px;
	width: 100%;
	text-align: center;
	color:#fff;
	margin-top:50px;
	font-size: 30px;
}
@media screen and (max-width: 800px){
	
	.desc .my-desc .Name{
		height:auto;
	}
	.desc .my-desc{
		margin-left: -30px;
	}
}
.desc .my-desc .bio{
	height: 40px;
	font-size: 25px;
}
.desc .my-desc .bio p{
	color: #fff;
}
.desc .my-desc .socials .git {
	height: 40px;
	color: #fff;
}
.desc .my-desc .socials .git a{
	color:#fff;
}
.desc .my-desc .organisation{
	font-weight: bold;
	height: auto;
}
.desc .my-desc .organisation a{
	color:#fff;
	text-decoration: none;

}
.desc .my-desc .organisation p{
	color: #fff;
}
.desc .my-desc .socials{
	display: inline-block;
	height:auto;
	width: 100%;
	padding-left: 10%;
	padding-right: 9%;
	margin-top: 5%;
}
.desc .my-desc .socials a{
	color: rgb(0,0,0);
	text-decoration: none;
	font-weight: bold;
}
.desc .my-desc .socials .soci{
	width:auto;
	float: left;
	align-items: center;
	margin-top: 10px;
	width:15%;
	margin-left: 10px;
	height: 15%;
	padding: 0;
	transition: 1s;
}
.desc .my-desc .socials .soci:hover{
	animation: troll 0.5s linear infinite;
	transition: 1s;
}
@keyframes troll{
	0%{
		transform: rotate(0deg);
		transition: 1s;
		margin-right: 5px;
		margin-left: 5px;
	}
	25%{
		transform: rotate(45deg);
		transition: 1s;
		margin-right: 10px;
		margin-left: 0px;
	}
	75%{
		transform: rotate(-45deg);
		transition: 1s;
		margin-right: 5px;
		margin-left: 5px;
	}
	100%{
		transform: rotate(0deg);
		transition: 1s;
		margin-left: 10px;
		margin-right: 0;
	}
}
.desc .my-desc .socials .twitter a{
	color: navy;
}
.desc .my-desc .socials .instagram a{
	color: orange;
}
.desc .my-desc .socials .github a{
	color: black;
}
.desc .my-desc .socials img{
	width: 100%;
	height:100%;
}
.btn{
	left:2%;
	top:60px;
	position: fixed;
	display:none;
	width: 40px;
	height:40px;
	background-color: navy;
	opacity: 0.75;
	cursor:pointer;
	border-radius: 5px;
}
.script{
	top: 110px;
	transform: rotate(360deg);
	transition: 1s;
}
.btn .line{
	width: 30px;
	height: 4px;
	margin-top: 7px;
	background-color: #fff;
	margin-left: 5px;
	opacity: 1;
	border-radius: 3px;
}
.btn:hover {
	opacity:1;
}
.btn:hover .line{
	opacity:1;
}
.close{
	left:80%;
	top:20px;
	font-size: 35px;
	font-weight: bold;
	position: absolute;
	transform: rotate(45deg);
	float: right;
	cursor: pointer;
	display: none;
}
.header-opt{
	width:100%;
	display: none;
	background :rgba(63, 63, 63, 0.8);
	color: #fff;
	height: 50px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 0;
	position: fixed;
	text-transform: uppercase;
}
.header-opt .header-img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	overflow: hidden;
	float:left;
}
.header-opt .header-img img{
	width: 100%;
	height:100%;
}
.header-opt .identify{
	float: left;
	width:40%;
	height: 30px;
	padding-top: 15px;
	margin-left: 20px;
}
.header-opt .auto{
	width: 40%;
	height:30px;
	float: left;
	padding-top: 15px;
}
@media screen and (max-width:1030px){
	.desc .desc-img{
		margin-left: 8px;
	}
	.desc .desc-sub{
		margin-left: 70px;
	}
}
@media screen and (min-width: 830px){
	.desc{
		display:block;
	}
}
@media screen and (max-width: 800px){
	.desc{
		display:none;
		width: 55%;
		padding-left: 30px;
		z-index: 3;
		background-color:  rgba(63, 63, 63, 0.8);
		height: auto;
		padding-bottom: 50px;
	}
	.desc .my-desc .bio{
		font-size: 20px ;
	}
	.close{
		display:flex;
	}
	.desc .desc-img{
		margin-left: 20px;
		width: 100px;
		height:100px;
		border-radius: 50px;
	}
	.desc .desc-sub{
		margin-left: 80px;
		margin-top: -25px;
		width:30px;
		height:30px;
		border-radius: 15px;
	}
	.desc .desc-sub .sub-img{
		width: 30px;
		height: 30px;
		border-radius: 15px;
	}
	.desc .desc-sub img{
		width:30px;
		height: 30px;
	}
	.desc .my-desc .Name{
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.desc .my-desc .socials .twitter,.instagram,.github,.linked-in,.email{
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}
	.desc .my-desc .socials .linked-in,.email{
		font-size: 10px;
	}
	.btn{
		display: block;
	}
	.header-opt{
		display: inline-block;
	}
}
.content-1{
	width: 72%;
	height: auto;
	padding: 10px;
	float: right;
	background-color: rgb(0,0,0,0.7);
	margin-top:0;
	margin-right: 2%;
	display: block;
	color: navy;
	padding-left:15%;
}
.content-1 img{
	width:30px;
	height: 30px;
}
.header{
	background-color: rgb(0,0,0,0.7);
	margin-top:0px;
	width: 72%;
	height: auto;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	float: right;
	margin-right: 2%;
	display: inline-block;
	animation: fade 10s;
}
#myheader{
	background-color: rgb(0,0,0,0.03);
}
.content-1 .cpp img{
	width: 60px;
	height: 50px;
	margin-top:-10px;
}
header .sticky{
	top:0;
	position: fixed;
	right:0;
	background-color:rgb(0,0,0,0.6);
	margin-top: 0;
	transition: 0.2s;
	border:none;
}
.Header-btn{
	width: 25%;
	float: left;
	height: 30px;
	margin-left: 7%;
	transition: 1s;
}
.Header-btn button{
	width: 100%;
	height: 30px;
	border:none;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	cursor:pointer;
	background-color: transparent;
}
.Header-btn:hover{
	transition: 0.5s;
	border-bottom:3px solid #fff;
	margin-bottom: -3px;
	background-color: transparent;
}
button .active{
	border-bottom:3px solid #fff;
}

@media screen and (max-width: 800px){
	.Header-btn{
		margin-top: 20px;
		height: 50px;
		
	}
	.Header-btn button{
		font-weight: normal;
		font-size: 9px;
		text-transform: capitalize;
		width: 100%;
		margin-left: 4px;
		margin-top: 10px;
		margin-bottom: 5%;
	}
}
@media screen and (max-width: 600px){
	.Header-btn{
		font-size: 9px;
		margin-left: 20px;
		margin-bottom: 15px;
	}
	.Header-btn button{
		width: 100%;
		font-size: 9px;
	}
}
@media screen and (max-width: 500px){
	.Header-btn{
		margin: 0;
		margin-left: 20px;
		margin-bottom: 15px;
		font-size: 9px;
	}
}
.header .Header-btn #dep{
	font-weight:bold;
	color:#fff;
}
.header .Header-btn #web{
	color: #fff;
	font-weight: bold;
}
.header .Header-btn #os{
	color:#fff;
	font-weight: bold;
}
@media screen and (max-width: 800px){
	.content-1{
		margin-top: 50px;
		border-bottom-left-radius: 10px;
	}
}
.content-1 .title{
	width: 100%;
	height: 50px;
	text-align: center;
	align-items: center;
	text-transform: uppercase;
}
.content-1 .lang{
	width: 100%;
	display: inline-block;
	height: auto;
	color: navy;
}
.content-1 .lang .Cat{
	width: auto;
	padding: 5px;
	text-align: center;
	float: left;
	font-weight: bold;
	margin-right: 6%;
	margin-left: 3%;
}
.content-wrapper{
	display: block;
}
.os-wrapper{
	display: none;
}
.os-wrapper p{
	color:navy;
}
@media screen and (max-width: 800px){
	.os-wrapper p{
		color:navy;
	}
}
.dep-wrapper{
	display: none;
}
.content{
	width: 72%;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	float: right;
	margin-top: 5px;
	margin-right: 2%;
	display:inline-block;
	animation: fade 10s;
}
.content .data-img{
	width:100%;
	height:100%;
}
.content .data-img img{
	width:100%;
	height:100%;
}
@media screen and (max-width: 800px){
	.header{
		margin-right: 0;
		padding: 0;
		height:50px;
	}
	.Header-btn{
		margin-top: 10px;
	}
	header .sticky{
		margin-top:50px;
	}
}
.content img{
	width: 20px;
	height:20px;
	margin-right: 10px;
}
.content .jambopng img{
	width: 100px;
	height: 50px;
	margin-bottom: -20px;
}
.content a{
	align-items: left;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
	color: #fff;
}
.content a img:hover{
	transform: scale(1.2);
	transition: 1.2s;
}
.content p{
	font-weight: bold;
	font-size: 18px;
}
.content h4{
	padding: 10px;
	text-transform: uppercase;
}
.content .jambo h4{
	color: #fff;
}
.content .jambo p{
	color:#fff;
	font-weight: bold;
}
.content .cokobox h4{
	color:#fff;
}
.content .cokobox p{
	color:#fff;
	font-weight: bold;
}
.content .mysa h4{
	color: #fff;
}
.content .mysa p{
	color:#fff;
}
.content .fifth h4,p{
	color:white;
}
.content .one h4{
	color: #fff;
}
.content .one p{
	color:#fff;
}
.content .devco h4{
	color: #fff;
}
.content .devco p{
	color:#fff;
}
.content .absolute p{
	color: #fff;
}
.content .DevcoKenya p{
	color:#fff;
}
.content .content-img{
	width: 50%;
	height: auto;
	overflow: hidden;
	float:left;
}
.content .content-img img{
	width: 100%;
	size: cover;
	height: 100%;
}
.content .content-text{
	width: 45%;
	height: auto;
	text-align: center;
	color:#fff;
	float:left;
}
@media screen and (max-width: 800px){
	.content,.content-1,.header{
		width: 90%;
		margin-right:5%;
	}
	.content-1 .lang .Cat{
		margin-right: 0;
		margin-left: 1%;
	}
	.content .content-img{
		width: 100%;
	}
	.content .content-text{
		width: 100%;
	}
	}

.dep-wrapper .content{
	color:navy;
	background-image: url("../img/motif-fond-ligne-hexagonale-elegante/19742.jpg");
	background-repeat: repeat;
}
 .dep-wrapper a{
 	text-decoration: none;
 	color:navy;
 	font-weight: normal;
 	text-transform: lowercase;
 }
.name{
	width:100%;
	height: 150px;
	font-size: 27px;
	text-align: center;
}
@media screen and (max-width: 800px){
	.name{
		height: auto ;
	}
}
.name h1{
	text-transform: uppercase;
}
.name h2,h1{
	padding: 20px;
	padding-bottom:0;
	padding-top: 0;
}
.contact{
	margin-left: 40px;
}
.contact img{
	margin-right: 10px;
	width: 20px;
	height:20px;
}
.contact .emaili,.phone,.location{
	margin-bottom: 20px;
}
.summary {
	width:100%;
}
.summary p{
	padding: 30px;
	font-weight: bold;
}

.skills h4,h5{
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
h4 li{
	padding-bottom: 0;
}
.skills h5{
	font-style: italic;
	padding-top: 0;
}
.skills .skill-list li{
	padding-left: 40px;
}
.dep-wrapper p{
 color: navy;
}
.skills .skill-list p{
	font-style: italic;
	padding-left: 50px;
}
.navi{
	position:fixed;
	top: 90%;
	right: 5%;
	z-index: 3;
	margin-right: -150px;
	width: 50px;
	height: 40px;
	background:navy;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	border:none;
	border-radius: 5px;
	transition: 1s;
	cursor: pointer;
}
.show{
	margin-right: 20px;
	transform: rotate(-360deg);
	transition: 1s;
}
.jamboone,.jambotwo,.jambothree,.jambofour,.jambofive{
	opacity: 1;
}
.transp{
	opacity: 0;
}
.scroll{
	animation: skew 2.5s;
	transition:smooth;
}
@keyframes skew{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.journey{
	top:150px;
	text-align: center;
	right:5%;
	position: fixed;
	width: 75px;
	height: 75px;
	border-radius: 37px;
	background-color: navy;
	color: #fff;
	font-weight: bold;
	text-transform:capitalize;
	z-index:3;
	cursor:pointer;
	display: none;
}
.journey h3{
	font-size: 14px;
	font-weight: normal;
	padding-top: 25%;
}
@media screen and (max-width: 800px){
	.journey{
		width: 75px;
		height: 75px;
		border-radius: 37px;
	}
	.journey h3{
		font-size: 14px;
		font-weight: normal;
		padding-top: 25%;
	}
}
.calendar{
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: rgb(0,0,255,0.33);
	list-style: none;
	color:#fff;
	
}
@media screen and (max-width: 800px){
	.calendar{
		overflow:hidden;
		font-size: 10px;
	}
}
.calendar .load{
	width:auto;
	height:auto;
	margin: 0 auto;
}
.calendar .load .loadtxt{
	display:none;
	color:red;
}
.calendar .load img{
	width: 100px;
	height: 100px;
	animation: jump 1.5s linear infinite;
}
/** github calendar loading image spin animation**/
@keyframes jump{
	from{
		transform: rotate(0deg);
		transition:1.5s;
	}
	to{
		transform: rotate(-360deg);
		transition:1.5s;
	}
}
/**Github Calendar**/
.calendar a{
	color: navy;
	padding: 1px;
}
.calendar ul{ 
	list-style: none;
}
.calendar ul li{
	color: #fff;
}
.mess{
	display:none;
	position:fixed;
	border-radius: 30px;
	background-color: rgb(255,255,255,0.5);
	padding:20px;
	top:40%;
	left:15%;
	width:20%;
	height:370px;
}
.mess img{
	width:40px;
	height:40px;
}
.mess button{
	cursor:pointer;
	background-color: transparent;
	border:none;
}
.mess input{
	width:100%;
	height:50px;
	margin-bottom:20px;
	border-radius: 10px;
	border:none;
	background-color: rgb(0,0,0);
	color:#fff;
}
.mess textarea{
	width:100%;
	height: 250px;
	border-radius: 10px;
	border:none;
	background-color: rgb(0,0,0);
	color:#fff;
}
.mess .lay{
	width:100%;
	height:auto;
}
.mesb{
	position: fixed;
	left: 30px;
	top:85%;
}
.mesb .messbb{
	width:100px;
	height:50px;
	border-radius: 10px;
	border:none;
	background-color:rgb(100,100,100);
	color: #fff;
	font-weight: bolder;
	cursor:pointer;
	text-transform: uppercase;
}
/**SideBar Popup**/
.pop{
	display:block;
	transition:1s;
}
/**Tweeter popup window**/
.tweetPop{
	background-color:rgb(0,0,255,0.33); 
	top: 100px;
	font-size: 15px;
	position: fixed;
	right: 50px;
	width:70%;
	height: 80%;
	z-index: 4;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	display:none;
}
/**popup scrollbar**/
.tweetPop::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.tweetPop .close{
	display: block;
	color: #fff;
}
@media screen and (max-width: 800px){
	.tweetPop{
		left: 100px;
	}
}
/**Universal Footer**/
.content footer{
	width:100%;
	height:auto;
	border-radius: 20px;
	border: #000 1px solid;
	margin:0;
	padding:0;
}
/** Footer Messaging Form**/
.content footer form{
	width:100%;
	border-radius: 20px;
	display: block;
}
/**Footer input styling **/
.content footer form input{
	width:100%;
}
/**Footer submit button **/
.content footer form button{
	width: 200px;
}
/**Project link buttons**/
.project-btn-container{
	display:flex;
	width:100%;
	height:auto;
	align-items: center;
	text-align:center;
	justify-content:center;
	padding:10px;
}
.project-btn-container a{
	margin:10px;
}
.project-btn-container button{
	width: 200px;
	border-radius: 10px;
	border: 2px #fff solid;
	background-color:transparent;
	color: #fff;
	font-weight: bolder;
	text-transform:uppercase;
	margin:20px;
	height:40px;
	transition:1s;
}
.project-btn-container button:hover{
	color: purple;
	background-color:#fff;
	transition:1s;
	cursor:pointer;
	border:purple 2px solid;
}
/** Project btn container responsiveness**/
@media screen and (max-width:1000px){
	.project-btn-container button{
		width: 100%;
	}
}
.stat-counter{
	width:500px;
}
.second-cal{
	width:100%;
	height:120px;
	padding-left:5%;
}
.second-cal img{
	width: 90%;
	height:100%;
}
@media screen and (max-width:1000px){
	.second-cal{
		padding-left:0;
		height:80px;
	}
	.second-cal img{
		width:100%;
	}
}