*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#fff;
    max-width:100vw;
}

body{
    font-family:sans-serif;
    max-width:100vw;
    overflow-x:hidden;
    background-color: #242529;
}
section{
    width:100vw;
    max-width:100vw;
    overflow-x: hidden;
}
a{
    color:greenyellow;
    text-decoration:none;
}
.colored{
    color: greenyellow;
}
* p{
    color:gray;
}
button{
    width:150px;
    height:60px;
    border: 1px solid rgb(121, 220, 245);
    color: rgb(121, 220, 245);
    background-color: transparent;
    font-weight: bold;
    margin-top:30px;
    border-radius:10px;
    margin-bottom: 10px;
    cursor:pointer;
    transition:0.5s linear;
}
.block:hover button{
    width:150px;
    height:50px;
    transition:0.5s linear;
    cursor:pointer;
}
.repo:hover button{
    width:150px;
    height:50px;
    transition:0.5s linear;
    cursor:pointer;
}
.og:hover button{
    width:150px;
    height:50px;
    transition:0.5s linear;
    cursor:pointer;
}
.spec p{
    color:rgb(121, 220, 245);
}
.header-container {
    width:40%;
    margin:auto;
    border-bottom:1px solid rgb(121, 220, 245);
    text-align:center;
    padding-top:20px;
    height:auto;
    padding-bottom:20px;
}
.header-container .big{
    font-size: 3.5em;
}
.header-container h1{
    font-size: 0.5em;
}
@media screen and (max-width:1000px){
    .header-container{
        width:100%;
    }
}
.header-body-container{
    display:flex;
    flex-wrap: wrap;
    width:90%;
    height:auto;
    margin:auto;
    margin-top:40px;
}
.header-body-container .block,.shade{
    width:100%;
    height:auto;
    margin:auto;
    border:1px solid rgb(121, 220, 245);
    display:block;
    border-radius: 10px;
    text-align:center;
    padding:20px;
    padding-bottom: 40px;
    padding-top: 40px;
    transition:0.5s linear;
    margin-bottom:90px;
}
@media screen and (min-width:1000px){
    .shade{
        display:flex;
        text-align: center;
        align-items: center;
        padding-left:25%;
        padding-right: 10%;
    }
    .shade *{
        margin-right: 40px;
    }
}
.header-body-container .og {
    width:45%;
    height:auto;
    margin:auto;
    border:1px solid rgb(121, 220, 245);
    display:block;
    border-radius: 10px;
    text-align:center;
    padding:20px;
    padding-bottom: 40px;
    padding-top: 40px;
    transition:0.5s linear;
    margin-bottom:90px;
}
@media screen and (max-width:1000px){
    .header-body-container .og{
        width:100%;
    }
}
.header-body-container .block:hover{
    transition:0.5s linear;
    box-shadow: #000 0px 50px 100px -20px, #000 0px 30px 60px -30px;
}
.header-body-container .og:hover{
    transition:0.5s linear;
    box-shadow: #000 0px 50px 100px -20px, #000 0px 30px 60px -30px;
}
.shade ,.shader{
    transition:0.5s linear;
    box-shadow: #000 0px 10px 20px -20px, #000 0px 10px 20px -10px; 
}
.shader{
    animation: ping 2s linear infinite;
}
.space{
    line-height: 30px;
}

.header-body-container .block img{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-top:30px;
    margin-bottom:30px;
}
.header-body-container .shade img{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-top:30px;
    margin-bottom:30px;
}
.header-body-container .block:hover button{
    width:150px;
    height:50px;
    transition:0.5s linear;
}
.pinned-repo-con{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    text-align:center;
    margin-top:50px;
}

.pinned-repo-con .repo{
    width:28%;
    height:auto;
    border:1px solid rgb(121, 220, 245);
    margin:auto;
    margin-bottom:30px;
    border-radius:10px;
    text-align:center;
    padding:20px;
    padding-bottom: 50px;
    padding-top: 40px;
}
.pinned-repo-con .repo:hover{
    transition:0.5s linear;
    box-shadow: #000 0px 50px 100px -20px, #000 0px 30px 60px -30px; 
}
@media screen and (max-width:1000px){
    .pinned-repo-con .repo{
        width:80%;
    }
}

.pinned-repo-con .repo h4{
    margin-bottom: 20px;
}
.pinned-repo-con .repo p{
    color: gray;
}
.footer-container{
    width:100%;
    height:80px;
    background-color: rgb(29, 27, 27);
    padding-left: 30px;
    padding-top: 35px;
    margin-top: 10px;
}
@keyframes ping{
    0%{
        box-shadow: #000 0px 50px 100px -20px, #000 0px 30px 60px -30px;  
    }
    50%{
        box-shadow: none;
    }
    100%{
        box-shadow: #000 0px 50px 100px -20px, #000 0px 30px 60px -30px;  
    }
} 
details>summary {
    list-style-type: none;
    outline: none;
    cursor: pointer;
    /* border: 1px solid #eee; */
    padding: 5px;
    border-radius: 5px;
  }
  
details>summary::-webkit-details-marker {
    display: none;
}
details>summary::before {
    content: '🌙   ';
  }
  
  details[open]>summary::before {
    content: '🎱   ';
  }

.pop{
    position:fixed;
    bottom:105px;
    width:28vw;
    height:auto;
    border:1px solid rgb(121, 220, 245);
    border-radius: 10px;
    background-color: #242529;
    display:none;
    text-align:center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow:#000 0px 50px 100px -20px, #000 0px 30px 60px -30px ;
    margin-left:3%;
}
.popup{
    display:flex;
}
.pop .close{
    width:20%;
    padding-top:25px;
    cursor:pointer;
}
.pop .close *{
    color:yellow;
    padding-top:-5px;
}
.pop .text{
    width:80%;
    padding-top:20px;
    text-align:left;
    padding-right:20px;
    padding-bottom:20px;
}
@media screen and (max-width: 1000px){
    .pop{
        width:80%;
        margin-left:10%;
        margin-right:10%;
        bottom:115px;
    }
}
@media screen and (max-width: 300px){
    .pop{
        bottom:15px;
    }
}